@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 900px) {
  .home-slider-bis .logo {
    position: absolute;
    right: 0;
    top: 45%;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
  }
  .medias {
    transform: translateX(200%);
    top: 30%;
    right: 7%;
  }
}
@media screen and (max-width: 992px) and (min-width: 576px) {
  .footer-row .col-md-4:nth-last-child(n+2) {
    padding: 0;
  }
  .footer-row .col-md-4 h3 {
    font-size: 18px;
  }
  .footer-row .col-md-4:nth-last-child(2) h3 {
    text-align: center;
  }
  .footer-row .col-md-4:nth-last-child(2) {
    margin: left 10px;
  }
  .footer-row .col-md-4:nth-child(3) .social_icon {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}
@media screen and (max-width: 808px) {
  .header_area .nav-item {
    margin: 0 6px;
  }
}
@media screen and (max-width: 768px) {
  .header_area .nav-item {
    margin: 10px 0;
  }
  .products-preview .preview img {
    height: 25rem;
  }
}
@media screen and (max-width: 576px) {
  .footer-row .col-md-4:nth-child(2) .row {
    text-align: left;
  }
  .footer-row .links-footer {
    text-align: left;
  }
  footer .social_icon {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 375px) {
  footer .social_icon {
    display: grid;
    grid-template-columns: repeat(auto-fit, 70px);
  }
}
@media screen and (max-width: 280px) {
  .footer-row .col-md-4 h3 {
    font-size: 6vw;
  }
  .footer-row .col-md-4 .desc-agence {
    font-size: 4vw;
  }
  .footer-row .links-footer li {
    font-size: 2.8vw;
  }
}


